@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75..100,300..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(180deg, #ffffff, #e3e6ff, #d6ccff);
  min-height: 100vh;

}

a {
  text-decoration: none;
}